<% @boards = Board.all %>
<body>
    <div class="container">
        <div class="row">
            <%= render 'layouts/left' %>
            <div class="col-lg-6">
                <h2>static_pages/home.html.erb</h2>
                ランディングページ
            </div>
            <%= render 'layouts/right' %>
        </div>
    </div>
</body>