<h1>Sample App</h1>

<body>
  <div class="container">
    <div class="row">

<%= render 'layouts/left' %>

<div class="col-6" style="background-color: brown;">
  <div class="box6">
    <p>投稿一覧</p>
  </div>
</div>

<%= render 'layouts/right' %>

  </div>
  </div>
</body>