<% @boards = Board.all %>
<body>
    <div class="container">
        <div class="row">
            <%= render 'layouts/left' %>
            <div class="col-lg-6">
                <% if !(logged_in?) %>
                <h2>Game Boardとは？</h2>
                <p>GameBoardとは、ゲーム好きのユーザーがゲームの攻略情報を質問し合える会員制コミュニティーサイトです。質問や掲示板を作成する場合は、会員登録をお願いします。</p>
                <%= link_to "無料会員登録", new_user_path , class: 'btn btn-primary btn-block mb-3' %>
                <% end %>
                <div>
                    <%= render 'shared/board_list', boards: @boards%>
                </div>
            </div>
            <%= render 'layouts/right' %>
        </div>
    </div>
</body>