<div class="box3">
    <div>ユーザー名：<%= comment.user.name %></div>
    <div>コメント：<%= comment.content %></div>
    <% if comment.user_id == current_user.id %>
    <%= button_to "削除", board_comment_path(comment), method: :delete, class: 'btn btn-outline-secondary btn-block my-3',data: { confirm: '削除しますか？' } %>
    <% end %>
</div>
