<% if false %>

<% @board.comments.each do |comment| %>
<p>内容</p>
<p><%= comment.content %></p>
<p><%= link_to '削除',board_comment_path(@board,comment),
                          action: :delete,data: {confirm:'削除してもよろしいですか？'}%></p>
<% end %>

<% end %>