<%# <% user = User.find(follows.follwer_id)%>
<div class="box3 mb-3">
    <div class="user">ユーザー名：テスト</div>
    <span class="content">自己紹介文： テスト</span>
    <%= link_to "詳細", '#', class: 'btn btn-outline-primary btn-block my-2' %>
</div>