<% provide(:title, "お気に入りユーザー一覧") %>

<% user =  @user %>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <%= render 'users/profile_user', user: @user %>
            <div class="row">
                <div class="col-lg-4 d-none d-lg-block">
                    <%= render 'layouts/left_reccomend'%>
                </div>
                <div class="col-lg-8">
                <h2>フォローユーザー一覧</h2>
                    <%= render 'index_users', follows: @follows%>
                </div>
            </div>
        </div>
        <%= render 'layouts/right' %>
    </div>
</div>