<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>登録フォーム</h2>
                <%= render 'form_user' %>
            </div>
        </div>
    </div>
</body>