<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <%= render 'profile_user', user: @user %>
            <div class="row">
                <div class="col-lg-4 d-none d-lg-block">
                    <%= render 'layouts/left_reccomend'%>
                </div>
                <div class="col-lg-8">
                    <%= render 'shared/board_list', boards: @boards%>
                </div>
            </div>
        </div>
        <%= render 'layouts/right' %>
    </div>
</div>
</div>