<% provide(:title, "掲示板一覧") %>
    <div class="container">
        <div class="row">
            <%= render 'layouts/left' %>

            <div class="col-lg-6">
            <%= render 'shared/board_list', boards: @boards%>
            </div>

            <%= render 'layouts/right' %>
        </div>
    </div>