@import "bootstrap";
@import './sessions';

header {
    padding-bottom: 10px;
}

footer {
    padding-top: 10px;
}

.box1 {
    padding: 120px 1px;
    margin: 10px 0;
    font-weight: bold;
    border: solid 3px #000000;
    background-color: #ffffff;
}

.box1 p {
    margin: 0;
    padding: 0;
}

.box2 {
    padding: 10px 1px;
    margin: 10px 0;
    font-weight: bold;
    border: solid 3px #000000;
    background-color: #ffffff;
}

.box2 p {
    margin: 0;
    padding: 0;
}

#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}