@import "bootstrap";
@import './sessions';

header {
    padding-bottom: 10px;
}

footer {
    padding-top: 10px;
}

.box1 {
    padding: 120px 1px;
    margin: 10px 0;
    font-weight: bold;
    border: solid 3px #000000;
    background-color: #ffffff;
}

.box1 p {
    margin: 0;
    padding: 0;
}