@import "bootstrap";
@import './sessions';
@import './static_pages';

html {
    font-size: 14px; /* ルート要素のフォントサイズを1rem=14pxと定義する */
} 

header {
    padding-bottom: 10px;
}

body {
    padding-bottom: 60px;
}

h2 {
    padding: 12px;
    background: #444;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.box_profile {
    padding: 5px 0;
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #ffffff;
}


.box3 {
    padding: 0;
    margin-top: 10px;
    padding: 5px;
    border: solid 1.1px #000000;
    background-color: #ffffff;
}

// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
}

// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 767.98px) {
   }

// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media (max-width: 575.98px) {
}