<div class="col-3" style="background-color: aqua;">
    <div class="gest">
        <div class="box7">
            <p>ゲストアカウント</p>
        </div>
    </div>
    <div class="recomendgame">
        <div class="box7">
            <p>おすすめゲーム</p>
        </div>
    </div>
    <div class="tag">
        <div class="box7">
            <p>掲示板タグ一覧</p>
        </div>
    </div>
</div>
