<% if logged_in? %>
<% @user  = User.find(session[:user_id]) %>
<div class="box3">
    <p>ユーザー名：<%= @user.name %></p>
    <div class="row">
        <div class="col-10 offset-1">
            <%= link_to "プロフィール",user_path(@user.id) , class: 'btn btn-outline-primary btn-block mb-3'%>
        </div>
    </div>
</div>
<% else %>
<div class="box1">
    <p>ログインしてください</p>
</div>
<% end %>