<h2>おすすめゲーム</h2>
<div class="timestamp">更新日時：<%= RecommendGame.first.updated_at.to_s(:datetime_jp) %></div>
<ul class="list-group">
    <% 20.times do |n| %>
    <li class="list-group-item">
        <%= image_tag RecommendGame.find(n).image, :size => '50x50' %><%= RecommendGame.find(n).title %></li>
    <% end %>
</ul>