<h2>おすすめゲーム</h2>
<% scraping_android  %>
<ul class="list-group">
    <% 20.times do |n| %>
    <li class="list-group-item">
        <%= image_tag RecommendGame.find(n).image, :size => '50x50' %><%= RecommendGame.find(n).title %></li>
    <% end %>
</ul>
