<div class="col-lg-3">
    <%= render 'layouts/left_account' %>
    <div class="d-none d-lg-block">
        <%= render 'layouts/left_reccomend' %>
        <%= render 'layouts/left_tag' %>
    </div>
</div>