<h2>おすすめゲーム(仮)</h2>
<ul class="list-group">
    <% 32.times do |n| %>
    <li class="list-group-item"><%= image_tag "recomend_game/Image#{n}.jpeg", :size => '50x50' %><%= "ゲーム#{n}" %></li>
    <% end %>
</ul>
