<% if logged_in? %>
<% @user  = User.find(session[:user_id]) %>
<h2>ユーザー情報</h2>
ユーザー名：<%= @user.name %>
<div class="row">
    <div class="col-10 offset-1 mt-1">
        <%= link_to "プロフィール",user_path(@user.id) , class: 'btn btn-outline-primary btn-block mb-3'%>
    </div>
</div>
<% else %>
<p>ログインしてください</p>
<% end %>