<h2>iPhoneランキング</h2>
<ul class="list-group">
    <% 5.times do |n| %>
    <li class="list-group-item">
        <%= image_tag RecommendIosGame.find(n).image, :size => '50x50' %><%= RecommendIosGame.find(n).title %></li>
    <% end %>
</ul>
