<h2>iPhoneランキング</h2>
<div class="timestamp">更新日時：<%= RecommendIosGame.first.updated_at.to_s(:datetime_jp) %></div>
<ul class="list-group">
    <% 5.times do |n| %>
    <li class="list-group-item">
        <div class="float-left"><%= image_tag RecommendIosGame.find(n).image, :size => '50x50' %></div><%= RecommendIosGame.find(n).title %></li>
    <% end %>
</ul>
