<h2>iPhoneランキング</h2>
<% scraping_ios %>
<ul class="list-group">
    <% 5.times do |n| %>
    <li class="list-group-item">
        <%= image_tag RecommendGame.find(n).image, :size => '50x50' %><%= RecommendGame.find(n).title %></li>
    <% end %>
</ul>
