<div class="col-3" style="background-color: aqua;">
  <div class="box1">
      <p>新規登録</p>
  </div>
  <div class="rank">
    <div class="box1">
      <p>ゲームランキング|iPhone</p>
    </div>
  </div>
  <div class="rank">
    <div class="box1">
      <p>ゲームランキング|Android</p>
    </div>
  </div>
</div>