<div class="border border-dark p-2 mb-3">
    <div class="d-flex align-items-start">
        GameBoradを使ってゲームの攻略情報を手に入れよう！
    </div>
    <br>
    <p>初めての方はこちら</p>
    <%= link_to "無料会員登録", new_user_path , class: 'btn btn-primary btn-block' %>
    <br>
    <p>会員の方はこちら</p>
    <%= link_to "ログイン", login_path, class: 'btn btn-outline-primary btn-block' %>

</div>